.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: darkseagreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divFormDefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formDefault {
  padding: 1vw;
  border: 2px solid;
  border-radius: 1vw;
  box-shadow: 5px 10px #888888;
}

.divFormDefault input{
  width: 30vw;
}

.divFormDefault button{
  width: 30vw;
}

/* HOME */
.productCard img {
  background-color: white;
  height: 40vh;
  object-fit: contain;
}

.productList {
  text-align: center;
  padding: 1vw;
}

.productList ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
}

.productList li {
  border: 1px solid;
  border-radius: 1vw;
  padding: 0.4vw;
  margin: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 30vw;
}

/* PRODUCT DETAIL */
.productDetail {
  display: flex;
  flex-direction: row;
  margin: 2vw;
}

.productDetailText {
  margin-left: 2vw;
}

/* ADRESSES */
.addressList {
  text-align: center;
  padding: 1vw
}

.addressList ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
}

.addressList li {
  border: 1px solid;
  border-radius: 1vw;
  padding: 0.4vw;
  margin: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 30vw;
}

.addressList li button {
  margin: 5px;
}